In [1]:
import pandas as pd
df = pd.read_csv("clean_tweet.csv")
#df.drop(['score','views','comments'],axis=1,inplace=True)
df.head(20)

    Unnamed: 0                                               text  postId
0            0  ve always been interested in machine learning ...       5
1            1  as researcher and instructor looking for open ...       7
2            2  not sure if this fits the scope of this se but...       9
3            3  one book that freely available is the elements...      10
4            4  am sure data science as will be discussed in t...      14
5            5  in which situations would one system be prefer...      15
6            6            use href to train data and predict clas      16
7            7     href rel nofollow libsvm is library for suppor      17
8            8                                                NaN      18
9            9  lots of people use the term em big data em in ...      19
10          10  we created this social network application for...      20
11          11  as you rightly note these days big data is som...      21
12          12  my data set contains number of numeric attribu...      22
13          13  data science specialization from johns hopkins...      23
14          14  the standard means algorithm is not directly a...      24
15          15  big data is defined by the volume of data that...      25
16          16  few gigabytes is not very strong big strong it...      26
17          17  to answer this question you have to answer whi...      27
18          18  there is free ebook href rel noreferrer introd...      28
19          19                             href starts to lay the      29

In [2]:
df_p = pd.read_csv("import_code/csvs/tags_posts_rel.csv")
# df.drop(['external_author_id','language','publish_date','harvested_date'],axis=1,inplace=True)
df_p.head(20)

    :START_ID(Post)      :END_ID(Tag)
0                 5  machine-learning
1                 7         education
2                 7       open-source
3                14       data-mining
4                14       definitions
5                15         databases
6                16  machine-learning
7                16           bigdata
8                16            libsvm
9                19           bigdata
10               19       scalability
11               19        efficiency
12               19       performance
13               20             nosql
14               20   relational-dbms
15               22       data-mining
16               22        clustering
17               22            octave
18               22           k-means
19               22  categorical-data

In [3]:
df_p.columns = ['postId', 'tag']

In [4]:
df_p.head()

   postId               tag
0       5  machine-learning
1       7         education
2       7       open-source
3      14       data-mining
4      14       definitions

In [7]:
my_df = pd.merge(df, df_p, on='postId')

In [8]:
my_df.head()

,Unnamed: 0,text,postId,tag
0,0,ve always been interested in machine learning ...,5,machine-learning
1,1,as researcher and instructor looking for open ...,7,education
2,1,as researcher and instructor looking for open ...,7,open-source
3,4,am sure data science as will be discussed in t...,14,data-mining
4,4,am sure data science as will be discussed in t...,14,definitions

In [12]:
for col in my_df.columns: 
    print(col)

Unnamed: 0
text
postId
tag

In [15]:
my_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [17]:
my_df.head(20)

,text,postId,tag
0,ve always been interested in machine learning ...,5,machine-learning
1,as researcher and instructor looking for open ...,7,education
2,as researcher and instructor looking for open ...,7,open-source
3,am sure data science as will be discussed in t...,14,data-mining
4,am sure data science as will be discussed in t...,14,definitions
5,in which situations would one system be prefer...,15,databases
6,use href to train data and predict clas,16,machine-learning
7,use href to train data and predict clas,16,bigdata
8,use href to train data and predict clas,16,libsvm
9,lots of people use the term em big data em in ...,19,bigdata
10,lots of people use the term em big data em in ...,19,scalability
11,lots of people use the term em big data em in ...,19,efficiency
12,lots of people use the term em big data em in ...,19,performance
13,we created this social network application for...,20,nosql
14,we created this social network application for...,20,relational-dbms
15,my data set contains number of numeric attribu...,22,data-mining
16,my data set contains number of numeric attribu...,22,clustering
17,my data set contains number of numeric attribu...,22,octave
18,my data set contains number of numeric attribu...,22,k-means
19,my data set contains number of numeric attribu...,22,categorical-data

In [19]:
my_df.to_csv('tag_and_post.csv',encoding='utf-8')

#### Build graph in neo4j

In [7]:
from py2neo import Graph, Node, Relationship

graph = Graph(password="password")

In [8]:
query = '''
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:////tag_and_post.csv" as row
MERGE (s:TAG{tag:row.tag})
MERGE (t:CONTENT{text:row.text})
CREATE (s)-[:TAGS]->(t)
'''

In [9]:
# run query
data = graph.run(query)
print(data)

<py2neo.database.Cursor object at 0x108211908>

#### all posts with tag 'octave'

In [ ]:
# MATCH p=(t:TAG)-[]->() WHERE t.tag = "octave" RETURN p LIMIT 25

![title](images/tag_octave.png)

#### all shortest path between 'java' and 'python' with some of the edge nodes tags shown

In [ ]:
# MATCH path = allShortestPaths( (t:TAG {tag:"java"})-[*]-(u:TAG {tag:"python"})) RETURN path LIMIT 10;

![title](images/python_java_shortpath.png)

 #### all shortest path between 'education' and 'java' with some of the edge nodes tags shown

![title](images/java_education_shortpath.png)