In [1]:
from py2neo import Graph, Node, Relationship

In [6]:
graph = Graph(password="password")

query = "match (n) return head(labels(n)) as label, count(*);"
result = graph.run(query)

print(result.to_data_frame())

  label  count(*)
0  Post     39929
1  User     66951
2   Tag       489

#### Create constraints and indices - easier in browser - localhost:7474

In [ ]:
# create index on :Post(title);
# create index on :Post(createdAt);
# create index on :Post(score);
# create index on :Post(views);
# create index on :Post(favorites);
# create index on :Post(answers);
# create index on :Post(score);

# create index on :User(name);
# create index on :User(createdAt);
# create index on :User(reputation);
# create index on :User(age);

# create index on :Tag(count);

# create constraint on (t:Tag) assert t.tagId is unique;
# create constraint on (u:User) assert u.userId is unique;
# create constraint on (p:Post) assert p.postId is unique;

# We then waited for the indexes to be finished.

# schema await

In [12]:
query = "match (u:User) with u,size( (u)-[:POSTED]->()) as posts order by posts desc limit 10 return u.displayname, posts;" 
result = graph.run(query)

print(result.to_data_frame())

    u.displayname  posts
0     Neil Slater    403
1     Vaalizaadeh    354
2         n1k31t4    347
3    Anony-Mousse    325
4  Brian Spiering    241
5            Emre    227
6    Martin Thoma    224
7         Dawny33    215
8           Tasos    205
9        JahKnows    203

#### Get number of tags used in asking questions

In [21]:
query = "match (u:User)-[:POSTED]->()-[:HAS_TAG]->(t:Tag) where u.displayname = 'Vaalizaadeh'  return t,count(*) as posts order by posts desc limit 5;" 
result = graph.run(query)

print(result.to_data_frame())

# This user only answered questions

                               t  posts
0  {'tagId': 'machine-learning'}     20
1     {'tagId': 'deep-learning'}     15
2    {'tagId': 'neural-network'}     11
3               {'tagId': 'cnn'}      4
4             {'tagId': 'keras'}      2

#### Get tags that User answered

In [39]:
query = "match (u:User)-[:POSTED]->()-[:HAS_TAG]->(t:Tag) where u.displayname = 'Puffin GDI' return t.tagId,count(*) as posts order by posts desc limit 5;" 
result = graph.run(query)

print(result.to_data_frame())

            t.tagId  posts
0           bigdata      1
1            libsvm      1
2  machine-learning      1

#### All shortest paths - run in neo4j console or browser

In [40]:
# MATCH path = allShortestPaths(
#      (u:User {displayname:"Emre"})-[*]-(me:User {displayname:"Vaalizaadeh"}))
# RETURN path;

#### User with letter t in name answered the most questions about python

In [61]:
query = "MATCH (u:User)-[:POSTED]->(answer)<-[:PARENT_OF]-()-[:HAS_TAG]-(:Tag {tagId:'python'}) WHERE u.displayname contains 't' RETURN u.displayname,u.reputation,u.location, count(distinct answer) AS answers ORDER BY answers DESC;" 
result = graph.run(query)
print(result.to_data_frame())

# query = "" 
# result = graph.run(query)
# print(result.to_data_frame())

                u.displayname u.reputation               u.location  answers
0                     n1k31t4         8181                   Europa      117
1                 Neil Slater        18824   Durham, United Kingdom       36
2    Juan Esteban de la Calle         1504         Bogotá, Colombia       24
3            Jan van der Vegt         6995                Amsterdam       23
4                      Aditya         1577       West Bengal, India       22
..                        ...          ...                      ...      ...
455           Christian Sauer          437           Düren, Germany        1
456           MCP_infiltrator          966  New York, United States        1
457        Christopher Louden         1120          San Antonio, TX        1
458                   Stanpol          572                   Norway        1
459                 adesantos          483                   Madrid        1

[460 rows x 4 columns]

In [47]:
# MATCH (u:User)-[:POSTED]->(answer)<-[:PARENT_OF]-()-[:HAS_TAG]-(:Tag {tagId:"nosql"}) 
# WHERE u.displayname = 'Emre'
# RETURN u.displayname, u.reputation,u.location, count(distinct answer) AS answers
# ORDER BY answers DESC;

#### Run this graph in browser/ console

In [62]:
# MATCH (u:User)-[:POSTED]->(answer)<-[:PARENT_OF]-(question)-[:HAS_TAG]-(tag:Tag {tagId:"python"}) 
# WHERE u.displayname contains "t"
# RETURN *,count(distinct answer) AS answers
# ORDER BY answers DESC limit 30;

![title](images/python_answers.png)