In [82]:
import pandas as pd
df = pd.read_csv("clean_tweet.csv")
#df.drop(['score','views','comments'],axis=1,inplace=True)
df.head(20)

# https://medium.com/neo4j/machine-learning-on-graphs-fca6eeb8f1d1
# https://markhneedham.com/blog/2018/05/11/node2vec-tensorflow/

    Unnamed: 0                                               text  postId
0            0  ve always been interested in machine learning ...       5
1            1  as researcher and instructor looking for open ...       7
2            2  not sure if this fits the scope of this se but...       9
3            3  one book that freely available is the elements...      10
4            4  am sure data science as will be discussed in t...      14
5            5  in which situations would one system be prefer...      15
6            6            use href to train data and predict clas      16
7            7     href rel nofollow libsvm is library for suppor      17
8            8                                                NaN      18
9            9  lots of people use the term em big data em in ...      19
10          10  we created this social network application for...      20
11          11  as you rightly note these days big data is som...      21
12          12  my data set contains number of numeric attribu...      22
13          13  data science specialization from johns hopkins...      23
14          14  the standard means algorithm is not directly a...      24
15          15  big data is defined by the volume of data that...      25
16          16  few gigabytes is not very strong big strong it...      26
17          17  to answer this question you have to answer whi...      27
18          18  there is free ebook href rel noreferrer introd...      28
19          19                             href starts to lay the      29

In [83]:
df_p = pd.read_csv("import_code/csvs/tags_posts_rel.csv")
# df.drop(['external_author_id','language','publish_date','harvested_date'],axis=1,inplace=True)
df_p.head(20)

    :START_ID(Post)      :END_ID(Tag)
0                 5  machine-learning
1                 7         education
2                 7       open-source
3                14       data-mining
4                14       definitions
5                15         databases
6                16  machine-learning
7                16           bigdata
8                16            libsvm
9                19           bigdata
10               19       scalability
11               19        efficiency
12               19       performance
13               20             nosql
14               20   relational-dbms
15               22       data-mining
16               22        clustering
17               22            octave
18               22           k-means
19               22  categorical-data

In [84]:
df_p.columns = ['postId', 'tag']

In [85]:
df_p.head()

   postId               tag
0       5  machine-learning
1       7         education
2       7       open-source
3      14       data-mining
4      14       definitions

In [86]:
my_df = pd.merge(df, df_p, on='postId')

In [87]:
my_df.head(30)

,Unnamed: 0,text,postId,tag
0,0,ve always been interested in machine learning ...,5,machine-learning
1,1,as researcher and instructor looking for open ...,7,education
2,1,as researcher and instructor looking for open ...,7,open-source
3,4,am sure data science as will be discussed in t...,14,data-mining
4,4,am sure data science as will be discussed in t...,14,definitions
5,5,in which situations would one system be prefer...,15,databases
6,6,use href to train data and predict clas,16,machine-learning
7,6,use href to train data and predict clas,16,bigdata
8,6,use href to train data and predict clas,16,libsvm
9,9,lots of people use the term em big data em in ...,19,bigdata
10,9,lots of people use the term em big data em in ...,19,scalability
11,9,lots of people use the term em big data em in ...,19,efficiency
12,9,lots of people use the term em big data em in ...,19,performance
13,10,we created this social network application for...,20,nosql
14,10,we created this social network application for...,20,relational-dbms
15,12,my data set contains number of numeric attribu...,22,data-mining
16,12,my data set contains number of numeric attribu...,22,clustering
17,12,my data set contains number of numeric attribu...,22,octave
18,12,my data set contains number of numeric attribu...,22,k-means
19,12,my data set contains number of numeric attribu...,22,categorical-data
20,21,have bunch of customer profiles stored in href...,31,data-mining
21,21,have bunch of customer profiles stored in href...,31,clustering
22,23,in working on exploratory data analysis and de...,35,algorithms
23,25,heard about many tools frameworks for helping ...,38,nosql
24,25,heard about many tools frameworks for helping ...,38,tools
25,25,heard about many tools frameworks for helping ...,38,processing
26,25,heard about many tools frameworks for helping ...,38,apache-hadoop
27,27,has many libraries which are aimed at data ana...,41,bigdata
28,27,has many libraries which are aimed at data ana...,41,r
29,36,have an script that generates report based on ...,50,r

In [88]:
for col in my_df.columns: 
    print(col)

Unnamed: 0
text
postId
tag

In [89]:
my_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [90]:
my_df.groupby('tag').count()

                   text  postId
tag
.net                  6       6
3d-reconstruction     5       5
ab-test              26      26
accuracy            152     152
activation            1       1
...                 ...     ...
word-embeddings     206     206
word2vec            227     227
xboost                1       1
xgboost             303     303
yolo                 29      29

[489 rows x 2 columns]

In [91]:
my_df.head(20)

,text,postId,tag
0,ve always been interested in machine learning ...,5,machine-learning
1,as researcher and instructor looking for open ...,7,education
2,as researcher and instructor looking for open ...,7,open-source
3,am sure data science as will be discussed in t...,14,data-mining
4,am sure data science as will be discussed in t...,14,definitions
5,in which situations would one system be prefer...,15,databases
6,use href to train data and predict clas,16,machine-learning
7,use href to train data and predict clas,16,bigdata
8,use href to train data and predict clas,16,libsvm
9,lots of people use the term em big data em in ...,19,bigdata
10,lots of people use the term em big data em in ...,19,scalability
11,lots of people use the term em big data em in ...,19,efficiency
12,lots of people use the term em big data em in ...,19,performance
13,we created this social network application for...,20,nosql
14,we created this social network application for...,20,relational-dbms
15,my data set contains number of numeric attribu...,22,data-mining
16,my data set contains number of numeric attribu...,22,clustering
17,my data set contains number of numeric attribu...,22,octave
18,my data set contains number of numeric attribu...,22,k-means
19,my data set contains number of numeric attribu...,22,categorical-data

In [79]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [96]:
#my_df['text'].apply(lambda x: [item for item in x if item not in stop])

my_df['text'] = my_df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
print(my_df)

                                                    text  postId  \
0      always interested machine learning figure one ...       5
1      researcher instructor looking open source book...       7
2      researcher instructor looking open source book...       7
3      sure data science discussed forum several syno...      14
4      sure data science discussed forum several syno...      14
...                                                  ...     ...
53947  one thing noticed elementary real analysis say...   58485
53948  one thing noticed elementary real analysis say...   58485
53949  way change size training set learning process ...   58486
53950  way change size training set learning process ...   58486
53951  way change size training set learning process ...   58486

                             tag  \
0               machine-learning
1                      education
2                    open-source
3                    data-mining
4                    definitions
...                          ...
53947           machine-learning
53948              deep-learning
53949                   training
53950  multiclass-classification
53951           imbalanced-learn

                                  text_without_stopwords
0      always interested machine learning figure one ...
1      researcher instructor looking open source book...
2      researcher instructor looking open source book...
3      sure data science discussed forum several syno...
4      sure data science discussed forum several syno...
...                                                  ...
53947  one thing noticed elementary real analysis say...
53948  one thing noticed elementary real analysis say...
53949  way change size training set learning process ...
53950  way change size training set learning process ...
53951  way change size training set learning process ...

[53952 rows x 4 columns]

In [97]:
my_df.head()

,text,postId,tag,text_without_stopwords
0,always interested machine learning figure one ...,5,machine-learning,always interested machine learning figure one ...
1,researcher instructor looking open source book...,7,education,researcher instructor looking open source book...
2,researcher instructor looking open source book...,7,open-source,researcher instructor looking open source book...
3,sure data science discussed forum several syno...,14,data-mining,sure data science discussed forum several syno...
4,sure data science discussed forum several syno...,14,definitions,sure data science discussed forum several syno...

In [56]:
my_df.to_csv('tag_and_post.csv',encoding='utf-8')

#### Build graph in neo4j

In [ ]:
from py2neo import Graph, Node, Relationship

graph = Graph(password="password")

In [ ]:
query = '''
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:////tag_and_post.csv" as row
MERGE (s:TAG{tag:row.tag})
MERGE (t:CONTENT{text:row.text})
CREATE (s)-[:TAGS]->(t)
'''

In [ ]:
# run query
data = graph.run(query)
print(data)

#### all posts with tag 'octave'

In [ ]:
# MATCH p=(t:TAG)-[]->() WHERE t.tag = "octave" RETURN p LIMIT 25

![title](images/tag_octave.png)

#### all shortest path between 'java' and 'python' with some of the edge nodes tags shown

In [ ]:
# MATCH path = allShortestPaths( (t:TAG {tag:"java"})-[*]-(u:TAG {tag:"python"})) RETURN path LIMIT 10;

![title](images/python_java_shortpath.png)

 #### all shortest path between 'education' and 'java'

![title](images/java_education_shortpath.png)

 #### shortest path between 'activation' and 'xboost' with some of the edge nodes tags shown

![title](images/xboost_activation_shortpath.png)

#### Create edge list - node2vec

In [ ]:
# from neo4j.v1 import GraphDatabase, basic_auth

# host = "bolt://127.0.0.1:7687" # replace this with your Sandbox host
# password = "password" # replace this with your Sandbox password

# driver = GraphDatabase.driver(host)

from neo4j import GraphDatabase
import csv

uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "password"))

# print('Create the edge list')
# with driver.session() as session, open("graph/stack_data.edgelist", "w") as edges_file:
#     result = session.run("""\
#     MATCH (t:TAG)--(other)
#     RETURN id(t) AS source, id(other) AS target
#     """)

#     writer = csv.writer(edges_file, delimiter=" ")

#     for row in result:
#         writer.writerow([row["source"], row["target"]])
        
print('Create the edge list')
with driver.session() as session, open("graph/stack_content.edgelist", "w") as edges_file:
    result = session.run("""\
    MATCH (c:CONTENT)--(other)
    RETURN id(c) AS source, id(other) AS target
    """)

    writer = csv.writer(edges_file, delimiter=" ")

    for row in result:
        writer.writerow([row["source"], row["target"]])

#### node2vec

In [ ]:
# https://github.com/snap-stanford/snap/tree/master/examples/node2vec

# %%bash
# ./node2vec -i:graph/stack_data.edgelist -o:emb/stack_data.emb -l:80 -d:100 -p:0.3 -dr -v

In [ ]:
# (base) Computers-MacBook-Air:node2vec computer$ ./node2vec

# An algorithmic framework for representational learning on graphs. [Dec  2 2019]
# ================================================================================
# usage: node2vec
#    -i:Input graph path (default:'graph/karate.edgelist')
#    -o:Output graph path (default:'emb/karate.emb')
#    -d:Number of dimensions. Default is 128 (default:128)
#    -l:Length of walk per source. Default is 80 (default:80)
#    -r:Number of walks per source. Default is 10 (default:10)
#    -k:Context size for optimization. Default is 10 (default:10)
#    -e:Number of epochs in SGD. Default is 1 (default:1)
#    -p:Return hyperparameter. Default is 1 (default:1)
#    -q:Inout hyperparameter. Default is 1 (default:1)
#    -v Verbose output. 
#    -dr Graph is directed. 
#    -w Graph is weighted. 
#    -ow Output random walks instead of embeddings. 
# (base) Computers-MacBook-Air:node2vec computer$ ./node2vec -i:graph/stack_data.edgelist -o:emb/stack_data.emb -l:80 -d:100 -p:0.3 -dr -v

# An algorithmic framework for representational learning on graphs. [Dec  2 2019]
# ================================================================================
# Input graph path (-i:)=graph/stack_data.edgelist
# Output graph path (-o:)=emb/stack_data.emb
# Number of dimensions. Default is 128 (-d:)=100
# Length of walk per source. Default is 80 (-l:)=80
# Number of walks per source. Default is 10 (-r:)=10
# Context size for optimization. Default is 10 (-k:)=10
# Number of epochs in SGD. Default is 1 (-e:)=1
# Return hyperparameter. Default is 1 (-p:)=0.3
# Inout hyperparameter. Default is 1 (-q:)=1
# Verbose output. (-v)=YES
# Graph is directed. (-dr)=YES
# Graph is weighted. (-w)=NO
# Output random walks instead of embeddings. (-ow)=NO
# Read 53952 lines from graph/stack_data.edgelist
# Preprocessing progress: 99.61% 
# Walking Progress: 95.88%
# Learning Progress: 99.94% 
# (base) Computers-MacBook-Air:node2vec computer$

![title](images/node2vec_output.png)

#### Store embeddings in graph

In [28]:
from neo4j import GraphDatabase
import csv

uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "password"))


# with open("emb/stack_data.emb", "r") as stack_data_file, driver.session() as session:
#     next(stack_data_file)
#     reader = csv.reader(stack_data_file, delimiter=" ")

#     params = []
#     for row in reader:
#         stack_id = row[0]
#         params.append({
#             "id": int(stack_id),
#             "embedding": [float(item) for item in row[1:]]
#         })

#     session.run("""\
#     UNWIND {params} AS param
#     MATCH (t:Tag) WHERE id(t) = param.id
#     SET t.embedding = param.embedding
#     """, {"params": params})
    
with open("emb/stack_content.emb", "r") as stack_data_file, driver.session() as session:
    next(stack_data_file)
    reader = csv.reader(stack_data_file, delimiter=" ")

    params = []
    for row in reader:
        stack_id = row[0]
        params.append({
            "id": int(stack_id),
            "embedding": [float(item) for item in row[1:]]
        })
        #print(params)

#     session.run("""\
#     UNWIND {params} AS param
#     MATCH (c:CONTENT) WHERE id(c) = param.id
#     SET c.embedding = param.embedding
#     """, {"params": params})
    
    session.run("""\
    UNWIND {params} AS param
    MATCH (t:TAG) WHERE id(t) = param.id
    SET t.embedding = param.embedding
    """, {"params": params})

In [39]:
import pandas as pd

# movies_tag_query = """\
# MATCH (tag:TAG)
# WITH tag ORDER BY tag.name
# WITH collect(id(tag)) AS tags
# MATCH (tag)-[:TAGS]->(c:CONTENT)
# WITH tags, id(c) AS source, c.embedding AS embedding, collect(id(tag)) AS target
# RETURN source, embedding, [t in tags | CASE WHEN t in target THEN 1 ELSE 0 END] AS genres
# """

# with driver.session() as session:
#     result = session.run(movies_tag_query)
#     df = pd.DataFrame([dict(row) for row in result])
    
    
stack_tag_query = """\
MATCH (con:CONTENT)
WITH con ORDER BY con.text
WITH collect(id(con)) AS cons
MATCH (t:TAG)-[:TAGS]->(con)
WITH cons, id(t) AS source, t.embedding AS embedding, collect(id(con)) AS target
RETURN source, embedding, [c in cons | CASE WHEN c in target THEN 1 ELSE 0 END] AS tags
"""

with driver.session() as session:
    result = session.run(stack_tag_query)
    df = pd.DataFrame([dict(row) for row in result])

In [40]:
df.head(40)

,source,embedding,tags
0,0,"[0.336407, -0.330856, 0.441869, 0.0765013, 0.0...","[0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, ..."
1,2,"[0.169663, -0.0214164, 0.0433217, -0.0504316, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,4,"[0.174995, -0.0739704, 0.0556046, -0.0417772, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,5,"[0.290443, 0.0784903, -0.0502578, -0.0707901, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,7,"[0.182739, -0.043701, 0.0556673, -0.0227042, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5,8,"[0.207417, 0.0392582, 0.040614, -0.00937462, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
6,11,"[0.277072, -0.00572706, -0.0397977, -0.0856387...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
7,12,"[0.151763, -0.0792313, 0.0855298, 0.0131963, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
8,14,"[0.163391, 0.00748834, 0.0324757, -0.0754839, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
9,15,"[0.147025, 0.0034152, 0.0563864, -0.0579839, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
10,16,"[0.209124, 0.00190164, 0.0198992, -0.0932914, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
11,17,"[0.0734836, -0.00561204, 0.0546032, -0.0002119...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
12,19,"[0.124886, -0.0473484, -0.00807958, -0.0092333...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
13,21,"[0.303826, 0.0485519, -0.0313362, -0.0836969, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
14,22,"[0.0980189, -0.0150731, 0.0257346, 0.0129896, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
15,23,"[0.270483, 0.00524379, 0.0146643, -0.0166837, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
16,24,"[0.230032, 0.0119311, 0.0221574, -0.0374153, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ..."
17,26,"[0.236706, 0.0548406, -0.000540522, -0.0842019...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
18,29,"[0.212933, -0.039824, 0.0280847, -0.00149988, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
19,30,"[0.105069, -0.00338149, 0.0360779, 0.0371965, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
20,31,"[0.236922, -0.0204786, 0.0220265, -0.0483455, ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
21,33,"[0.257874, 0.082883, -0.0578649, -0.164998, -0...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
22,36,"[0.255592, 0.0415089, -0.0275706, -0.0472543, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
23,39,"[0.238984, 0.0349268, -0.0369559, -0.0272877, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
24,42,"[0.30614, 0.00681987, -0.0233198, -0.0551773, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ..."
25,45,"[0.12831, -0.0181657, 0.0666788, -0.0175947, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
26,47,"[0.0614428, -0.0120066, 0.0597271, 0.00668386,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
27,49,"[0.127418, 0.0030691, 0.0601742, -0.0148503, -...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
28,50,"[0.12884, -0.0341676, 0.0314544, 0.0304696, -0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
29,53,"[0.13872, -0.0658621, 0.0061561, 0.0343877, -0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
30,54,"[0.174161, -0.0340273, 0.0160684, -0.0173162, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
31,55,"[0.257189, 0.0176176, -0.0207003, -0.0652858, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
32,57,"[0.162067, 0.0476891, 0.00259935, -0.0594651, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
33,60,"[0.249658, -0.000338891, -0.0254135, -0.043793...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
34,65,"[0.230412, -0.00283659, -0.00399072, -0.077923...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
35,66,"[0.281133, 0.0850289, -0.0822711, -0.127898, -...","[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, ..."
36,68,"[0.25569, 0.0684422, -0.0437244, -0.0976486, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
37,70,"[0.157623, 0.0101862, 0.0206912, -0.0659632, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
38,71,"[0.18492, 0.0072398, -0.00508224, -0.0891605, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
39,73,"[0.211232, -0.0556989, 0.0386528, -0.0348411, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [66]:
from gensim.models import KeyedVectors

filename = 'emb/stack_content.emb'
model = KeyedVectors.load_word2vec_format(filename, binary=False)
model.most_similar('10799')

[('7048', 0.9953666925430298),
 ('13502', 0.9945465922355652),
 ('11019', 0.9938308000564575),
 ('7522', 0.9936755895614624),
 ('4340', 0.9936710596084595),
 ('4915', 0.9933874607086182),
 ('1971', 0.993089497089386),
 ('2947', 0.9929451942443848),
 ('2026', 0.9929091930389404),
 ('9461', 0.9928749203681946)]

In [67]:
# not working ???

# def neo4j_most_similar(model, key):
#     with driver.session() as session:
#         find_post = "MATCH (t:Tag {id: '%s'}) return id(t)" % key
#         result = session.run(find_post)
#         for r in result:
#             similar_posts = model.most_similar(str(r.value()))
#             for s_post in similar_post:
#                 find_post = "MATCH (t:Tag) where id(m) = %s return m.name" % s_post[0]
#                 similar_post_names = session.run(find_post)
#                 for sm in similar_post_names:
#                     # print the movie name with the cosine similarity
#                     print(sm.value(), s_post[1])
                    
# neo4j_most_similar(model, 'java')

In [68]:
print(neo4j_most_similar(model, '7048'))

None

In [75]:
my_df.head(20)

,text,postId,tag
0,ve always been interested in machine learning ...,5,machine-learning
1,as researcher and instructor looking for open ...,7,education
2,as researcher and instructor looking for open ...,7,open-source
3,am sure data science as will be discussed in t...,14,data-mining
4,am sure data science as will be discussed in t...,14,definitions
5,in which situations would one system be prefer...,15,databases
6,use href to train data and predict clas,16,machine-learning
7,use href to train data and predict clas,16,bigdata
8,use href to train data and predict clas,16,libsvm
9,lots of people use the term em big data em in ...,19,bigdata
10,lots of people use the term em big data em in ...,19,scalability
11,lots of people use the term em big data em in ...,19,efficiency
12,lots of people use the term em big data em in ...,19,performance
13,we created this social network application for...,20,nosql
14,we created this social network application for...,20,relational-dbms
15,my data set contains number of numeric attribu...,22,data-mining
16,my data set contains number of numeric attribu...,22,clustering
17,my data set contains number of numeric attribu...,22,octave
18,my data set contains number of numeric attribu...,22,k-means
19,my data set contains number of numeric attribu...,22,categorical-data

In [62]:
print(my_df.loc[[7048], 'text'])

7048    came across href rel nofollow this
Name: text, dtype: object

In [63]:
print(my_df.loc[[10799], 'text'])

10799    lets say we have training data and we have est...
Name: text, dtype: object

In [ ]:
print(my_df.loc[[158], 'tag'])

In [ ]:
print(my_df.loc[[10264], 'tag'])

In [ ]:
print(my_df.loc[[0], 'tag'])

In [ ]:
print(my_df.loc[[23], 'tag'])

In [73]:
model.most_similar('23')

[('3950', 0.9946283102035522),
 ('12726', 0.9937280416488647),
 ('690', 0.9930843114852905),
 ('185', 0.9927181601524353),
 ('11539', 0.9927140474319458),
 ('15374', 0.9926726222038269),
 ('5151', 0.9926635026931763),
 ('16377', 0.9921455383300781),
 ('8820', 0.9920498132705688),
 ('3814', 0.9920468330383301)]

In [71]:
print(my_df.loc[[4], 'tag'])

4    definitions
Name: tag, dtype: object

In [ ]:
print(my_df.loc[[10799]])

In [ ]:
print(my_df.loc[[7048]])

In [ ]:
print(my_df.loc[[9461]])

In [78]:
model.similarity('17', '15')

0.9184171