In [15]:
import pandas as pd
df = pd.read_csv("clean_tweet.csv")
#df.drop(['score','views','comments'],axis=1,inplace=True)
df.head(20)

# https://medium.com/neo4j/machine-learning-on-graphs-fca6eeb8f1d1
# https://markhneedham.com/blog/2018/05/11/node2vec-tensorflow/

    Unnamed: 0                                               text  postId
0            0  ve always been interested in machine learning ...       5
1            1  as researcher and instructor looking for open ...       7
2            2  not sure if this fits the scope of this se but...       9
3            3  one book that freely available is the elements...      10
4            4  am sure data science as will be discussed in t...      14
5            5  in which situations would one system be prefer...      15
6            6            use href to train data and predict clas      16
7            7     href rel nofollow libsvm is library for suppor      17
8            8                                                NaN      18
9            9  lots of people use the term em big data em in ...      19
10          10  we created this social network application for...      20
11          11  as you rightly note these days big data is som...      21
12          12  my data set contains number of numeric attribu...      22
13          13  data science specialization from johns hopkins...      23
14          14  the standard means algorithm is not directly a...      24
15          15  big data is defined by the volume of data that...      25
16          16  few gigabytes is not very strong big strong it...      26
17          17  to answer this question you have to answer whi...      27
18          18  there is free ebook href rel noreferrer introd...      28
19          19                             href starts to lay the      29

In [16]:
df_p = pd.read_csv("import_code/csvs/tags_posts_rel.csv")
# df.drop(['external_author_id','language','publish_date','harvested_date'],axis=1,inplace=True)
df_p.head(20)

    :START_ID(Post)      :END_ID(Tag)
0                 5  machine-learning
1                 7         education
2                 7       open-source
3                14       data-mining
4                14       definitions
5                15         databases
6                16  machine-learning
7                16           bigdata
8                16            libsvm
9                19           bigdata
10               19       scalability
11               19        efficiency
12               19       performance
13               20             nosql
14               20   relational-dbms
15               22       data-mining
16               22        clustering
17               22            octave
18               22           k-means
19               22  categorical-data

In [17]:
df_p.columns = ['postId', 'tag']

In [18]:
df_p.head()

   postId               tag
0       5  machine-learning
1       7         education
2       7       open-source
3      14       data-mining
4      14       definitions

In [19]:
my_df = pd.merge(df, df_p, on='postId')

In [65]:
my_df.head(30)

,text,postId,tag
0,ve always been interested in machine learning ...,5,machine-learning
1,as researcher and instructor looking for open ...,7,education
2,as researcher and instructor looking for open ...,7,open-source
3,am sure data science as will be discussed in t...,14,data-mining
4,am sure data science as will be discussed in t...,14,definitions
5,in which situations would one system be prefer...,15,databases
6,use href to train data and predict clas,16,machine-learning
7,use href to train data and predict clas,16,bigdata
8,use href to train data and predict clas,16,libsvm
9,lots of people use the term em big data em in ...,19,bigdata
10,lots of people use the term em big data em in ...,19,scalability
11,lots of people use the term em big data em in ...,19,efficiency
12,lots of people use the term em big data em in ...,19,performance
13,we created this social network application for...,20,nosql
14,we created this social network application for...,20,relational-dbms
15,my data set contains number of numeric attribu...,22,data-mining
16,my data set contains number of numeric attribu...,22,clustering
17,my data set contains number of numeric attribu...,22,octave
18,my data set contains number of numeric attribu...,22,k-means
19,my data set contains number of numeric attribu...,22,categorical-data
20,have bunch of customer profiles stored in href...,31,data-mining
21,have bunch of customer profiles stored in href...,31,clustering
22,in working on exploratory data analysis and de...,35,algorithms
23,heard about many tools frameworks for helping ...,38,nosql
24,heard about many tools frameworks for helping ...,38,tools
25,heard about many tools frameworks for helping ...,38,processing
26,heard about many tools frameworks for helping ...,38,apache-hadoop
27,has many libraries which are aimed at data ana...,41,bigdata
28,has many libraries which are aimed at data ana...,41,r
29,have an script that generates report based on ...,50,r

In [21]:
for col in my_df.columns: 
    print(col)

Unnamed: 0
text
postId
tag

In [22]:
my_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [26]:
my_df.groupby('tag').count()

                   text  postId
tag
.net                  6       6
3d-reconstruction     5       5
ab-test              26      26
accuracy            152     152
activation            1       1
...                 ...     ...
word-embeddings     206     206
word2vec            227     227
xboost                1       1
xgboost             303     303
yolo                 29      29

[489 rows x 2 columns]

In [17]:
my_df.head(20)

,text,postId,tag
0,ve always been interested in machine learning ...,5,machine-learning
1,as researcher and instructor looking for open ...,7,education
2,as researcher and instructor looking for open ...,7,open-source
3,am sure data science as will be discussed in t...,14,data-mining
4,am sure data science as will be discussed in t...,14,definitions
5,in which situations would one system be prefer...,15,databases
6,use href to train data and predict clas,16,machine-learning
7,use href to train data and predict clas,16,bigdata
8,use href to train data and predict clas,16,libsvm
9,lots of people use the term em big data em in ...,19,bigdata
10,lots of people use the term em big data em in ...,19,scalability
11,lots of people use the term em big data em in ...,19,efficiency
12,lots of people use the term em big data em in ...,19,performance
13,we created this social network application for...,20,nosql
14,we created this social network application for...,20,relational-dbms
15,my data set contains number of numeric attribu...,22,data-mining
16,my data set contains number of numeric attribu...,22,clustering
17,my data set contains number of numeric attribu...,22,octave
18,my data set contains number of numeric attribu...,22,k-means
19,my data set contains number of numeric attribu...,22,categorical-data

In [19]:
my_df.to_csv('tag_and_post.csv',encoding='utf-8')

#### Build graph in neo4j

In [7]:
from py2neo import Graph, Node, Relationship

graph = Graph(password="password")

In [8]:
query = '''
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:////tag_and_post.csv" as row
MERGE (s:TAG{tag:row.tag})
MERGE (t:CONTENT{text:row.text})
CREATE (s)-[:TAGS]->(t)
'''

In [9]:
# run query
data = graph.run(query)
print(data)

<py2neo.database.Cursor object at 0x108211908>

#### all posts with tag 'octave'

In [ ]:
# MATCH p=(t:TAG)-[]->() WHERE t.tag = "octave" RETURN p LIMIT 25

![title](images/tag_octave.png)

#### all shortest path between 'java' and 'python' with some of the edge nodes tags shown

In [ ]:
# MATCH path = allShortestPaths( (t:TAG {tag:"java"})-[*]-(u:TAG {tag:"python"})) RETURN path LIMIT 10;

![title](images/python_java_shortpath.png)

 #### all shortest path between 'education' and 'java'

![title](images/java_education_shortpath.png)

 #### shortest path between 'activation' and 'xboost' with some of the edge nodes tags shown

![title](images/xboost_activation_shortpath.png)

#### Create edge list - node2vec

In [70]:
# from neo4j.v1 import GraphDatabase, basic_auth

# host = "bolt://127.0.0.1:7687" # replace this with your Sandbox host
# password = "password" # replace this with your Sandbox password

# driver = GraphDatabase.driver(host)

from neo4j import GraphDatabase
import csv

uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "password"))

# print('Create the edge list')
# with driver.session() as session, open("graph/stack_data.edgelist", "w") as edges_file:
#     result = session.run("""\
#     MATCH (t:TAG)--(other)
#     RETURN id(t) AS source, id(other) AS target
#     """)

#     writer = csv.writer(edges_file, delimiter=" ")

#     for row in result:
#         writer.writerow([row["source"], row["target"]])
        
print('Create the edge list')
with driver.session() as session, open("graph/stack_content.edgelist", "w") as edges_file:
    result = session.run("""\
    MATCH (c:CONTENT)--(other)
    RETURN id(c) AS source, id(other) AS target
    """)

    writer = csv.writer(edges_file, delimiter=" ")

    for row in result:
        writer.writerow([row["source"], row["target"]])

Create the edge list

#### node2vec

In [38]:
# https://github.com/snap-stanford/snap/tree/master/examples/node2vec

# %%bash
# ./node2vec -i:graph/stack_data.edgelist -o:emb/stack_data.emb -l:80 -d:100 -p:0.3 -dr -v

In [ ]:
# (base) Computers-MacBook-Air:node2vec computer$ ./node2vec

# An algorithmic framework for representational learning on graphs. [Dec  2 2019]
# ================================================================================
# usage: node2vec
#    -i:Input graph path (default:'graph/karate.edgelist')
#    -o:Output graph path (default:'emb/karate.emb')
#    -d:Number of dimensions. Default is 128 (default:128)
#    -l:Length of walk per source. Default is 80 (default:80)
#    -r:Number of walks per source. Default is 10 (default:10)
#    -k:Context size for optimization. Default is 10 (default:10)
#    -e:Number of epochs in SGD. Default is 1 (default:1)
#    -p:Return hyperparameter. Default is 1 (default:1)
#    -q:Inout hyperparameter. Default is 1 (default:1)
#    -v Verbose output. 
#    -dr Graph is directed. 
#    -w Graph is weighted. 
#    -ow Output random walks instead of embeddings. 
# (base) Computers-MacBook-Air:node2vec computer$ ./node2vec -i:graph/stack_data.edgelist -o:emb/stack_data.emb -l:80 -d:100 -p:0.3 -dr -v

# An algorithmic framework for representational learning on graphs. [Dec  2 2019]
# ================================================================================
# Input graph path (-i:)=graph/stack_data.edgelist
# Output graph path (-o:)=emb/stack_data.emb
# Number of dimensions. Default is 128 (-d:)=100
# Length of walk per source. Default is 80 (-l:)=80
# Number of walks per source. Default is 10 (-r:)=10
# Context size for optimization. Default is 10 (-k:)=10
# Number of epochs in SGD. Default is 1 (-e:)=1
# Return hyperparameter. Default is 1 (-p:)=0.3
# Inout hyperparameter. Default is 1 (-q:)=1
# Verbose output. (-v)=YES
# Graph is directed. (-dr)=YES
# Graph is weighted. (-w)=NO
# Output random walks instead of embeddings. (-ow)=NO
# Read 53952 lines from graph/stack_data.edgelist
# Preprocessing progress: 99.61% 
# Walking Progress: 95.88%
# Learning Progress: 99.94% 
# (base) Computers-MacBook-Air:node2vec computer$

![title](images/node2vec_output.png)

#### Store embeddings in graph

In [ ]:
# with open("emb/stack_data.emb", "r") as stack_data_file, driver.session() as session:
#     next(stack_data_file)
#     reader = csv.reader(stack_data_file, delimiter=" ")

#     params = []
#     for row in reader:
#         stack_id = row[0]
#         params.append({
#             "id": int(stack_id),
#             "embedding": [float(item) for item in row[1:]]
#         })

#     session.run("""\
#     UNWIND {params} AS param
#     MATCH (t:Tag) WHERE id(t) = param.id
#     SET t.embedding = param.embedding
#     """, {"params": params})
    
with open("emb/stack_content.emb", "r") as stack_data_file, driver.session() as session:
    next(stack_data_file)
    reader = csv.reader(stack_data_file, delimiter=" ")

    params = []
    for row in reader:
        stack_id = row[0]
        params.append({
            "id": int(stack_id),
            "embedding": [float(item) for item in row[1:]]
        })
        #print(params)

    session.run("""\
    UNWIND {params} AS param
    MATCH (c:Content) WHERE id(c) = param.id
    SET c.embedding = param.embedding
    """, {"params": params})

In [101]:
# movies_tag_query = """\
# MATCH (tag:TAG)
# WITH tag ORDER BY tag.name
# WITH collect(id(tag)) AS tags
# MATCH (tag)-[:TAGS]->(c:CONTENT)
# WITH tags, id(c) AS source, c.embedding AS embedding, collect(id(tag)) AS target
# RETURN source, embedding, [t in tags | CASE WHEN t in target THEN 1 ELSE 0 END] AS genres
# """

# with driver.session() as session:
#     result = session.run(movies_tag_query)
#     df = pd.DataFrame([dict(row) for row in result])
    
    
stack_tag_query = """\
MATCH (con:CONTENT)
WITH con ORDER BY con.text
WITH collect(id(con)) AS cons
MATCH (t:TAG)-[:TAGS]->(con)
WITH cons, id(t) AS source, t.embedding AS embedding, collect(id(con)) AS target
RETURN source, embedding, [c in cons | CASE WHEN c in target THEN 1 ELSE 0 END] AS genres
"""

with driver.session() as session:
    result = session.run(stack_tag_query)
    df = pd.DataFrame([dict(row) for row in result])

In [102]:
df.head()

   source embedding                                             genres
0       0      None  [0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, ...
1       2      None  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       4      None  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       5      None  [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       7      None  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [72]:
from gensim.models import KeyedVectors

filename = 'emb/stack_content.emb'
model = KeyedVectors.load_word2vec_format(filename, binary=False)
model.most_similar('7048')

[('10799', 0.9953666925430298),
 ('9461', 0.9944242238998413),
 ('8192', 0.9934298992156982),
 ('4915', 0.9930078387260437),
 ('11019', 0.9928181171417236),
 ('13502', 0.9927777051925659),
 ('9466', 0.9925971627235413),
 ('7522', 0.9923624396324158),
 ('6836', 0.9918798804283142),
 ('13955', 0.9918056726455688)]

In [73]:
# not working ???

# def neo4j_most_similar(model, key):
#     with driver.session() as session:
#         find_post = "MATCH (t:Tag {id: '%s'}) return id(t)" % key
#         result = session.run(find_post)
#         for r in result:
#             similar_posts = model.most_similar(str(r.value()))
#             for s_post in similar_post:
#                 find_post = "MATCH (t:Tag) where id(m) = %s return m.name" % s_post[0]
#                 similar_post_names = session.run(find_post)
#                 for sm in similar_post_names:
#                     # print the movie name with the cosine similarity
#                     print(sm.value(), s_post[1])
                    
# neo4j_most_similar(model, 'java')

In [74]:
# print(neo4j_most_similar(model, '7048'))

In [55]:
my_df.head()

                                                text  postId               tag
0  ve always been interested in machine learning ...       5  machine-learning
1  as researcher and instructor looking for open ...       7         education
2  as researcher and instructor looking for open ...       7       open-source
3  am sure data science as will be discussed in t...      14       data-mining
4  am sure data science as will be discussed in t...      14       definitions

In [60]:
print(my_df.loc[[7048], 'tag'])

7048    neural-network
Name: tag, dtype: object

In [61]:
print(my_df.loc[[17355], 'tag'])

17355    decision-trees
Name: tag, dtype: object

In [62]:
print(my_df.loc[[158], 'tag'])

158    classification
Name: tag, dtype: object

In [63]:
print(my_df.loc[[10264], 'tag'])

10264    predictive-modeling
Name: tag, dtype: object

In [64]:
print(my_df.loc[[0], 'tag'])

0    machine-learning
Name: tag, dtype: object

In [66]:
print(my_df.loc[[23], 'tag'])

23    nosql
Name: tag, dtype: object

In [67]:
model.most_similar('23')

[('15282', 0.9684323072433472),
 ('2324', 0.9675244092941284),
 ('5822', 0.9673711061477661),
 ('17591', 0.9669812917709351),
 ('16678', 0.9669248461723328),
 ('16810', 0.9666957855224609),
 ('14515', 0.9659811854362488),
 ('17307', 0.9658770561218262),
 ('4463', 0.9640902280807495),
 ('15665', 0.9633384346961975)]

In [69]:
print(my_df.loc[[2324], 'tag'])

2324    machine-learning
Name: tag, dtype: object

In [84]:
print(my_df.loc[[10799]])

                                                    text  postId           tag
10799  lets say we have training data and we have est...   16540  distribution

In [82]:
print(my_df.loc[[7048]])

                                    text  postId             tag
7048  came across href rel nofollow this   12386  neural-network

In [87]:
print(my_df.loc[[9461]])

                                                   text  postId         tag
9461  have number of lists such as whose lengths are ob   15056  tensorflow